* {
 margin: 0;
 padding: 0;
 font-family: serif;
}

.body{
 width: 100%;
 height: 100vh;
 background-image: url(bgvet.jpg);
 background-size:cover;
 background-position: center;
}


.navbar {
 width: 85%;
 margin: auto;
 padding: 50px 0;
 display: flex;
 align-items: center;
 justify-content: space-between;


}

.logo {
 width: 100px;
 cursor: pointer;
 margin-top: 20px;
}
.navbar ul li {
 list-style: none;
 display: inline-block;
 margin: 0 30px;
 position: relative;
 left: 30px;
 top:-35px;
}

.navbar ul li a {
 text-decoration: none;
 color: #fff;
 text-transform: uppercase;
}

.navbar ul li::after {
 content: '';
 height: 3px;
 width: 0;
 background: #1a278a;
 position: absolute;
 left: 0;
 bottom: -10px;
 transition: 0.5s;
}

.navbar ul li:hover::after{
 width:100%;
}
.content {

 width:100%;
 position: absolute;
 top: 60%;
 padding-left: 30px;
 transform: translatey(-50%);
 text-align: left;
 color: #0630ab;
}
.content pre{
 font-size: 20px;
 line-height: top: 20px;
}
.content h4{
 font-size: 30px;
}

.context p{
 margin: 20px auto;
 font-weight: 100;
 line-height: 25px;
}

button{
 width: 201px;
 padding: 15px 0;
 text-align: center;
 margin: 20px 10px;
 border-radius: 25px;
 font-weight: bold;
 border: 2px solid #009688;
 background: transparent;
 color:#fff;
 cursor: pointer;
 position: relative;
 overflow: hidden;
}

span{
 background: #009688;
 height:100%;
 width:0;
 border-radius: 25px;
 position: absolute;
 left: 0;
 bottom: 0;
 z-index: -1;
 transition: 0.5s;
}
.star{
 width:100%;
 position: absolute;
 top:70%;
 transform: translatey(-50%);
 text-align: center;
 color: #262626;
 font-size: 10px;
}
.corm h4{
 font-family: "Times New Roman";
 font-size: 18px;
 color: #252424;
}

































